@model List<MonProjetMVC.Models.Budget>

<div>
    <h2>Liste des Customers</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Budget</th>
            <th>Created at</th>
        </tr>
        @foreach (var budget in Model)
        {
            <tr>
                <td>@budget.customer.customerId</td>
                <td>@budget.customer.name</td>
                <td>@budget.customer.email</td>
                <td>@budget.valeur</td>
                <td>@budget.date</td>
            </tr>
        }
    </table>
</div>