@model List<MonProjetMVC.Models.Depense>
<div>
    <h2>Liste des Leads</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Status</th>
            <th>Created at</th>
            <th>Somme</th>
            <th>Etat</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        @foreach (var depense in Model)
        {
            <tr>
                <td>@depense.lead.leadId</td>
                <td>@depense.lead.name</td>
                <td>@depense.lead.status</td>
                <td>@depense.lead.createdAt</td>
                <td>@depense.valeurDepense</td>
                @if (depense.etat == 1)
                {
                    <td>Valider</td>
                }
                @if (depense.etat == 0)
                {
                    <td>en attente...</td>
                }
                @if (depense.etat == -1)
                {
                    <td>refuser</td>
                }
                <td><a href="@Url.Action("Modifier", "Lead", new { nom = depense.depenseId })">Modifier</a></td>
                <td><a href="@Url.Action("Suprimmer", "Lead", new { nom = depense.depenseId })">Supprimer</a></td>
            </tr>
        }
    </table>
</div>